[v-cloak] {
    display: none;
}

.footerFixed{
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.form-background{
    background-color: #ffffff;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
}